<!-- Content -->
<div class="container">
  <div class="content" role="banner">
    <ng-container *ngIf="!isCompleted; else elseTemplate">
      <div *ngFor="let question of questions; let i = index">
        <div class="form-group" *ngIf="i===currentIdx">
          <h3 class="text-center mb-60">Pertanyaan {{i+1}}: {{question.question}}</h3>
          <mat-grid-list cols="1" rowHeight="2:1">
            <form [formGroup]="formGroup">
              <ng-container *ngIf="question.type !== 'radio'; else radioTemplate">
                <mat-form-field class="w-100" appearance="fill"
                  [color]="formGroup.get(activeQuestion).valid ? 'primary': 'warn' ">
                  <mat-label>Hasil</mat-label>
                  <input [type]="question.type" matInput placeholder="Masukkan jawaban..."
                    [formControlName]="activeQuestion">
                </mat-form-field>
              </ng-container>
              <ng-template #radioTemplate>
                <div class="pb-20">
                  <mat-radio-group aria-label="Select an option" [formControlName]="activeQuestion">
                    <mat-radio-button value="laki laki" class="pr-10">Laki Laki</mat-radio-button>
                    <mat-radio-button value="perempuan">Perempuan</mat-radio-button>
                  </mat-radio-group>
                </div>
              </ng-template>

              <div *ngFor="let validation of errorQuestionIdx">
                <div class="error-message" *ngIf="
                    formGroup
                      .get(activeQuestion)
                      .hasError(validation.type) &&
                    (formGroup.get(activeQuestion).dirty ||
                      formGroup.get(activeQuestion).touched)
                  ">
                  <mat-error>{{ validation.message }}</mat-error>
                </div>
              </div>
            </form>
            <button mat-raised-button color="primary" class="w-100 p-8 mt-45" (click)="nextQuestions(i+1)" [disabled]="!formGroup
                  .get(activeQuestion).valid">{{ activeQuestion === "question5" ? "Simpan" : "Selanjutnya"}}</button>
          </mat-grid-list>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <h3 class="text-center">Selamat, Anda telah Selesai</h3>
      <div *ngFor="let result of questions; let i = index" class="mb-10">
        <div class="d-flex">
          <div class="w-37 pr-10">
            <p>Pertanyaan {{ i+1 }} <span class="d-r"> :</span></p>
          </div>
          <div class="w-63">
            <p>{{result.question}}</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-37 pr-10">
            <p>Jawab {{ i+1 }} <span class="d-r"> :</span></p>
          </div>
          <div class="w-63">
            <p>{{result.jawaban}}</p>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>

<router-outlet></router-outlet>